*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
}
h2{
    font-size: 40px;
}
h3{
    padding-top: 20px ;
    padding-bottom:5px ;
}
p{
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 17px;
    color: rgb(70, 67, 67);
}
.name-highlight{
    color: orange;
}
.top-section{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat:no-repeat ;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
img{
width: 100%;

}
.link-button{
    text-decoration: none;
    background-color: rgb(243, 12, 12);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(60deg,red,blue);
    }
    .dream-area{
        display: flex;
        margin-top: 40px;
       
        background-image: url(image/dream-bg.png);
        background-repeat:no-repeat ;
        background-position: right;

    }
    .expericece-area{
        display: flex;
        padding: 30px;
        margin-bottom: 50px;
        background-image: url(image/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
       
    }
    .experience{
        padding: 20px;
        text-align: center;
    }
    .single-experience{
        box-shadow: 10px 10px 5px gray;
        height: 250px;
        width: 500px;
        margin-left: 7%;
        border-radius: 7px;
    }
      #full-stack{
        border-left: 7px solid;
        border-image: linear-gradient(180deg,blue,red);
        border-image-slice: 1;
    }
    #junior-dev{
        border-left: 7px solid blue;
        border-image: linear-gradient(180deg,blue,red);
       border-image-slice: 1;   
    }
    footer{
        height: 50px;
        width: auto;
        background-color: rgb(175, 169, 169);
    }
    footer p{
      text-align: center; 
      color: rgb(19, 20, 20); 
      
     }
     .latest-work-area{
         display: flex;
         margin-bottom: 20%;
         margin-left: 5%;
     }
     .img-gallry{
         height: 350px;
         width: 250px;
         padding: 30px;
     }
     .latest-work{
         text-align: center;
         padding: 20px;
     }
     .dream-para{
         margin-right: 130px;
     }